modules/atc-meeting-scheduler/workflows/ATC_CAL.com_2nd_Trigger.json
{
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        -1600,
        320
      ],
      "id": "b12faf2d-7059-4633-8c00-21ebf0dcaa92",
      "name": "Cal.com Booking Trigger",
      "webhookId": "64c3f715-d3f3-4273-8051-8d32fab07d26",
      "credentials": {
        "calApi": {
          "id": "vMCQjfPGMVC79QYi",
          "name": "Cal.com Adude"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.attendees[0].email }}",
        "subject": "🎉 Consultation Confirmed - Welcome to Aviators Training Centre!",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Consultation Confirmed - Aviators Training Centre</title>\n  <style>\n    /* Reset */\n    body, table, td, p, a {margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}\n    img {border:0;line-height:100%;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;}\n    table {border-collapse:collapse !important;}\n    /* Fluid wrapper */\n    .wrapper {width:100% !important;max-width:600px;margin:0 auto;}\n    /* Typography */\n    h1 {font-size:28px;line-height:1.2;margin-bottom:8px;}\n    h2 {font-size:22px;line-height:1.3;margin-bottom:16px;}\n    p, td span {font-size:16px;line-height:1.5;}\n    /* Buttons */\n    .btn {display:inline-block;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:600;}\n    /* Mobile */\n    @media only screen and (max-width:600px) {\n      h1 {font-size:18px !important;}\n      h2 {font-size:14px !important;}\n      p, td span {font-size:12px !important;}\n      .mobile-center {text-align:center !important;}\n      .stack {display:block !important;width:100% !important;}\n      .btn {width:100% !important;max-width:260px;margin:8px auto !important;display:block;}\n      .hide-mobile {display:none !important;}\n      .pad {padding:20px 15px !important;}\n    }\n  </style>\n</head>\n<body style=\"background:#f8fafc;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" bgcolor=\"#f8fafc\">\n    <tr>\n      <td class=\"pad\" align=\"center\">\n        <table class=\"wrapper\" bgcolor=\"#fff\" style=\"border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1);\">\n          \n          <!-- Header -->\n          <tr>\n            <td bgcolor=\"#075E68\" style=\"background:linear-gradient(135deg,#075E68 0%,#219099 100%);padding:40px 30px;text-align:center;\">\n              <img src=\"https://raw.githubusercontent.com/AmanSuryavanshi-1/Aviators_Training_Centre/main/public/AVIATORS_TRAINING_CENTRE_LOGO_DarkMode.png\"\n                   alt=\"Logo\" style=\"max-width:160px;width:100%;height:auto;filter:brightness(0) invert(1);margin:0 auto 16px;\">\n              <h1 style=\"color:#fff;\">Consultation Confirmed</h1>\n              <p style=\"color:rgba(255,255,255,0.9);font-size:18px;\">Your aviation career journey begins here</p>\n            </td>\n          </tr>\n          \n          <!-- Body -->\n          <tr>\n            <td class=\"pad\">\n              <h2 style=\"color:#075E68;\">Hello {{ $json.attendees[0].name }},</h2>\n              <p>Thanks for scheduling your consultation! We’re excited to discuss your aviation goals.</p>\n              \n              <!-- Details Card -->\n              <table width=\"100%\" bgcolor=\"#f8fafc\" style=\"border:1px solid #e2e8f0;border-radius:8px;border-left:4px solid #075E68;margin-top:24px;\">\n                <tr>\n                  <td style=\"padding:16px;\">\n                    <h3 style=\"margin:0 0 12px;color:#075E68;\">Your Consultation Details</h3>\n                    <p><strong>Session:</strong> {{ $json.title }}<br>\n                       <strong>Date:</strong> {{ $json.startTime.split('T')[0] }}<br>\n                       <strong>Time:</strong> {{ new Date($json.startTime).toLocaleTimeString('en-US',{timeZone:'Asia/Kolkata',hour:'numeric',minute:'2-digit',hour12:true}) }} - {{ new Date($json.endTime).toLocaleTimeString('en-US',{timeZone:'Asia/Kolkata',hour:'numeric',minute:'2-digit',hour12:true}) }} IST<br>\n                       <strong>Format:</strong> {{ $json.type }}\n                       {{ $json.additionalNotes ? `<br><strong>Notes:</strong> ${$json.additionalNotes}` : '' }}\n                    </p>\n                  </td>\n                </tr>\n              </table>\n              \n              <!-- Actions -->\n              <div style=\"text-align:center;margin:24px 0;\">\n                <a href=\"https://wa.me/919485687609?text=Hi%2C%20regarding%20my%20consultation\" class=\"btn\" style=\"background:#075E68;color:#fff;border-radius:10px\">WhatsApp</a>\n                <a href=\"mailto:aviatorstrainingcentre@gmail.com?subject=Consultation%20Inquiry\" class=\"btn\" style=\"background:#219099;color:#fff;border-radius:10px\">Email Us</a>\n              </div>\n              \n              <!-- Reschedule -->\n              <table width=\"100%\" bgcolor=\"#f0f9ff\" style=\"border:1px solid #73B5BD;border-radius:8px;\">\n                <tr>\n                  <td style=\"padding:16px;text-align:center;\">\n                    <h3 style=\"margin:0 0 8px;color:#075E68;\">Need to Reschedule?</h3>\n                    <p>📞 <a href=\"tel:+919485687609\" style=\"color:#075E68;text-decoration:none;\">+91 94856 87609</a><br>\n                       💬 WhatsApp: 9AM – 7PM</p>\n                  </td>\n                </tr>\n              </table>\n              \n              <!-- Closing -->\n              <p style=\"text-align:center;margin:24px 0 0;\"><strong style=\"color:#075E68;\">Ready to soar to new heights?</strong><br>We look forward to speaking with you soon!</p>\n            </td>\n          </tr>\n          \n          <!-- Footer -->\n          <tr>\n            <td bgcolor=\"#075E68\" style=\"background:linear-gradient(135deg,#075E68 0%,#0C6E72 100%);padding:24px 30px;text-align:center;color:#fff;\">\n              <p style=\"margin:0;font-size:16px;font-weight:600;\">Aviators Training Centre</p>\n              <p style=\"margin:4px 0;\">Premier DGCA Ground School for CPL & ATPL</p>\n              <p style=\"margin:4px 0;\">\n                <a href=\"mailto:aviatorstrainingcentre@gmail.com\" style=\"color:#73B5BD;text-decoration:none;\">aviatorstrainingcentre@gmail.com</a> • \n                <a href=\"tel:+919485687609\" style=\"color:#73B5BD;text-decoration:none;\">+91 94856 87609</a> • \n                <a href=\"https://www.aviatorstrainingcentre.in\" style=\"color:#73B5BD;text-decoration:none;\">www.aviatorstrainingcentre.in</a>\n              </p>\n            </td>\n          </tr>\n          \n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1376,
        320
      ],
      "id": "5b716d7b-f73f-4397-9cfe-40059ebfc8bc",
      "name": "Send Booking Confirmation",
      "webhookId": "1cea43ef-1d46-492e-83f8-bf2f567bcedd",
      "credentials": {
        "gmailOAuth2": {
          "id": "WnIOg68zhORw4GOO",
          "name": "ADUDE Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appWzCutTRkTGvc2t",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbls8AXjTeC4XWiC0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Meeting Date": "={{ DateTime.fromISO($('Cal.com Booking Trigger').item.json.startTime) }}",
            "Meeting Time": "={{ new Date($('Cal.com Booking Trigger').item.json.startTime).toLocaleTimeString('en-US',{timeZone:'Asia/Kolkata',hour:'numeric',minute:'2-digit',hour12:true}) }} - {{ new Date($('Cal.com Booking Trigger').item.json.endTime).toLocaleTimeString('en-US',{timeZone:'Asia/Kolkata',hour:'numeric',minute:'2-digit',hour12:true}) }}",
            "Meeting Title": "={{ $('Cal.com Booking Trigger').item.json.title }}",
            "Status": "Confirmed",
            "Booking ID": "={{ $('Cal.com Booking Trigger').item.json.bookingId.toString() }}",
            "Timezone": "={{ $('Cal.com Booking Trigger').item.json.organizer.timeZone }}",
            "Cal.com URL": "={{ $('Cal.com Booking Trigger').item.json.bookerUrl }}",
            "Created Date": "={{ $('Cal.com Booking Trigger').item.json.createdAt.toDateTime().format('yyyy-MM-dd') }} ",
            "Language": "={{ $('Cal.com Booking Trigger').item.json.attendees[0].language.locale }}",
            "Contact Name": "={{ $('Cal.com Booking Trigger').item.json.attendees[0].name }}",
            "Email": "={{ $('Cal.com Booking Trigger').item.json.responses.email.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Contact Name",
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Meeting Title",
              "displayName": "Meeting Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Time",
              "displayName": "Meeting Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Confirmed",
                  "value": "Confirmed"
                },
                {
                  "name": "Canceled",
                  "value": "Canceled"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Email Sent",
                  "value": "Email Sent"
                },
                {
                  "name": "Follow Up Sent",
                  "value": "Follow Up Sent"
                },
                {
                  "name": "Won",
                  "value": "Won"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booking ID",
              "displayName": "Booking ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cal.com URL",
              "displayName": "Cal.com URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting DateTime",
              "displayName": "Meeting DateTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "IST Meeting Time",
              "displayName": "IST Meeting Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Days Until Meeting",
              "displayName": "Days Until Meeting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Meeting Status Summary",
              "displayName": "Meeting Status Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1136,
        320
      ],
      "id": "5b4bdfc1-ac85-4a15-aeff-fafcf47887b7",
      "name": "Update Lead with Booking",
      "credentials": {
        "airtableTokenApi": {
          "id": "y0MqaXSyaHsVbNbh",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Cal.com Booking Trigger": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Confirmation": {
      "main": [
        [
          {
            "node": "Update Lead with Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2aff0c99a9b9ea9c976d68c5887d32445a6bdc6f59f99592eb5b4c4dbaf3d92e"
  }
}