modules/BuildInPublic_Automation/Part 1 - X, LinkedIn, Blog - Personalized Content Generation - Social Auto Posting - Finalised.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -544
      ],
      "id": "2040c5d4-8f35-4b7f-9998-09dc41b29676",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "21a34bf1-f7e5-8035-b16f-d5ebf63a86a9",
          "mode": "list"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Ready to Generate"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "ManualOrder|number",
                "direction": "ascending"
              },
              {
                "key": "Priority|select",
                "direction": "ascending"
              },
              {
                "timestamp": true,
                "key": "created_time",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "id": "e2df05ba-fd83-4ac5-8881-028edced0450",
      "name": "Notion – Get Ready Content",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -880,
        -544
      ],
      "credentials": {
        "notionApi": {
          "id": "je8hKPK6RzYSk4JA",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1c344601-1123-413a-8c7f-794166ee6979",
      "name": "Filter – Has Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        -544
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONTENT SELECTION & PROFILE SETUP\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  console.log('❌ No content ready for processing');\n  return [];\n}\n\n// Get first item (priority + FIFO)\nconst item = items[0].json;\nconsole.log('🎯 Processing item:', item.id);\n\n// Enhanced property extraction with fallbacks\nconst getProperty = (obj, path, defaultValue = '') => {\n  const keys = path.split('.');\n  let result = obj;\n  for (const key of keys) {\n    if (result && typeof result === 'object' && key in result) {\n      result = result[key];\n    } else {\n      return defaultValue;\n    }\n  }\n  return result || defaultValue;\n};\n\nconst title = getProperty(item, 'properties.Content Pages.title.0.plain_text') || \n              getProperty(item, 'properties.title.title.0.plain_text') ||\n              getProperty(item, 'properties.Name.title.0.plain_text') ||\n              getProperty(item, 'name') || \n              'Untitled Content';\n\nconst category = getProperty(item, 'properties.Category.select.name') || \n                 'Learning';\n\nconst priority = getProperty(item, 'properties.Priority.select.name') || \n                 'normal';\n\n// Complete user profile for authentic content\nconst userProfile = {\n  name: 'Aman Surya',\n  role: 'Fresh CS Graduate & AI/ML Enthusiast',\n  focus: 'Building with Next.js/React/n8n, seeking AI PM roles',\n  personality: 'Authentic, curious, growth-minded, detail-oriented',\n  expertise: ['JavaScript', 'React', 'Next.js', 'n8n', 'AI/ML', 'Automation', 'Product Management'],\n  audience: 'Tech community, AI enthusiasts, developers, PM aspirants',\n  timezone: 'Asia/Kolkata',\n  writing_style: {\n    twitter: 'Casual, engaging, thread-friendly, question-driven, community-focused',\n    linkedin: 'Professional, detailed, story-driven, insight-rich, career-focused'\n  },\n  content_goals: {\n    primary: 'Build technical credibility for AI PM roles',\n    secondary: 'Help fellow developers learn and grow',\n    engagement: 'Create genuine discussions and valuable connections'\n  }\n};\n\nconst sessionId = `session_${Date.now()}_${(item.id || '').toString().substring(0, 8)}`;\n\nreturn [{\n  json: {\n    id: item.id,\n    title: title,\n    category: category,\n    priority: priority,\n    sessionId: sessionId,\n    userProfile: userProfile,\n    processingStartTime: new Date().toISOString(),\n    remainingItems: items.length - 1,\n    originalId: item.id\n  }\n}];"
      },
      "id": "6fa67ee5-38cb-4f5a-8504-d968bba9b8f0",
      "name": "Code – Select Content & Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -544
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Code – Select Content & Profile').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "type": "select",
              "selectValue": "Generating"
            },
            {
              "key": "SessionID|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Code – Select Content & Profile').item.json.sessionId }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Processing Started|date",
              "type": "date",
              "date": "={{ $('Code – Select Content & Profile').item.json.processingStartTime }}"
            },
            {
              "key": "Notes|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=🔄 Processing started\\nSession: {{ $('Code – Select Content & Profile').item.json.sessionId }}\\nPriority: {{ $('Code – Select Content & Profile').item.json.priority }}\\nCategory: {{ $('Code – Select Content & Profile').item.json.category }}\\nStarted: {{ new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) }} IST",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "419d8ad2-c512-4b32-b059-c80a7e9d9d7e",
      "name": "Notion – Update to Processing",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        16,
        -544
      ],
      "credentials": {
        "notionApi": {
          "id": "je8hKPK6RzYSk4JA",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true,
        "simplifyOutput": false
      },
      "id": "ea257a94-c20d-471b-8f87-734dad2ccb8c",
      "name": "Notion – Extract All Blocks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        240,
        -544
      ],
      "credentials": {
        "notionApi": {
          "id": "je8hKPK6RzYSk4JA",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PRODUCTION-READY NOTION CONTENT EXTRACTION (V2 - FIXED OUTPUT)\n\ntry {\n  console.log('🔍 Starting comprehensive content extraction...');\n  \n  const extractItems = $items('Notion – Extract All Blocks');\n  if (!extractItems?.length) {\n    throw new Error('No blocks from Notion – Extract All Blocks');\n  }\n  console.log(`📥 Processing ${extractItems.length} block items`);\n  \n  const allBlocks = extractItems.map(item => item.json);\n  const blockMap = new Map();\n  const topLevelBlocks = [];\n  \n  // Build hierarchical tree\n  allBlocks.forEach(block => {\n    blockMap.set(block.id, { ...block, children: [] });\n  });\n  \n  allBlocks.forEach(block => {\n    if (block.parent?.type === 'page_id') {\n      topLevelBlocks.push(blockMap.get(block.id));\n    } else if (block.parent?.type === 'block_id') {\n      const parent = blockMap.get(block.parent.block_id);\n      if (parent) {\n        parent.children.push(blockMap.get(block.id));\n      }\n    }\n  });\n  \n  console.log(`🌳 Built tree with ${topLevelBlocks.length} top-level blocks`);\n  \n  // Text extraction helper\n  const extractText = (richTextArray) => {\n    if (!Array.isArray(richTextArray)) return '';\n    return richTextArray\n      .map(item => item.plain_text || item.text?.content || '')\n      .join('')\n      .trim();\n  };\n  \n  // Image processing helper\n  const processImage = (url, caption = '') => {\n    if (!url) return null;\n    try {\n      return {\n        url: url,\n        caption: caption,\n        alt_text: caption || 'Content image',\n        processing_needed: true\n      };\n    } catch {\n      return null;\n    }\n  };\n  \n  // Recursive block renderer\n  function renderBlock(block, level = 0) {\n    if (!block?.type) return { text: '', sections: [], images: [] };\n    \n    const indent = '  '.repeat(level);\n    const blockData = block[block.type] || {};\n    let content = '';\n    let sections = [];\n    let images = [];\n    let text = extractText(blockData?.rich_text || blockData?.text || []);\n    \n    switch (block.type) {\n      case 'heading_1':\n        content = `\\\\n# ${text}\\\\n\\\\n`;\n        if (text) sections.push({ level: 1, title: text, content: '', id: block.id });\n        break;\n      case 'heading_2':\n        content = `\\\\n## ${text}\\\\n\\\\n`;\n        if (text) sections.push({ level: 2, title: text, content: '', id: block.id });\n        break;\n      case 'heading_3':\n        content = `\\\\n### ${text}\\\\n\\\\n`;\n        if (text) sections.push({ level: 3, title: text, content: '', id: block.id });\n        break;\n      case 'paragraph':\n        if (text) content = `${text}\\\\n\\\\n`;\n        break;\n      case 'bulleted_list_item':\n        if (text) content = `${indent}- ${text}\\\\n`;\n        break;\n      case 'numbered_list_item':\n        if (text) content = `${indent}1. ${text}\\\\n`;\n        break;\n      case 'toggle':\n        if (text) {\n          content = `\\\\n▶️ ${text}\\\\n`;\n          sections.push({ level: 4, title: text, content: '', id: block.id, type: 'toggle' });\n        }\n        break;\n      case 'callout':\n        const icon = blockData?.icon?.emoji || '💡';\n        if (text) content = `\\\\n${icon} **${text}**\\\\n\\\\n`;\n        break;\n      case 'quote':\n        if (text) content = `\\\\n> ${text}\\\\n\\\\n`;\n        break;\n      case 'code':\n        const language = blockData?.language || 'text';\n        if (text) {\n          content = `\\\\n\\`\\`\\`${language}\\\\n${text}\\\\n\\`\\`\\`\\\\n\\\\n`;\n          sections.push({ level: 5, title: `Code: ${language}`, content: text, id: block.id, type: 'code' });\n        }\n        break;\n      case 'divider':\n        content = '\\\\n---\\\\n\\\\n';\n        break;\n      case 'image':\n        const imageUrl = blockData?.file?.url || blockData?.external?.url;\n        if (imageUrl) {\n          const processedImage = processImage(imageUrl, text);\n          if (processedImage) {\n            images.push(processedImage);\n            content = `\\\\n[📸 Image: ${text || 'Visual content'}]\\\\n\\\\n`;\n          }\n        }\n        break;\n      case 'video':\n        content = `\\\\n[🎥 Video: ${text || 'Video content'}]\\\\n\\\\n`;\n        break;\n      case 'bookmark':\n        const bookmarkUrl = blockData?.url || '';\n        if (bookmarkUrl) content = `\\\\n[🔗 ${text || bookmarkUrl}](${bookmarkUrl})\\\\n\\\\n`;\n        break;\n      default:\n        if (text) content = `${indent}${text}\\\\n\\\\n`;\n        break;\n    }\n    \n    // Process children recursively\n    if (block.children?.length) {\n      const childrenResult = block.children\n        .map(child => renderBlock(child, level + 1))\n        .reduce((acc, result) => {\n          acc.text += result.text;\n          acc.sections = acc.sections.concat(result.sections);\n          acc.images = acc.images.concat(result.images);\n          return acc;\n        }, { text: '', sections: [], images: [] });\n      \n      content += childrenResult.text;\n      sections = sections.concat(childrenResult.sections);\n      images = images.concat(childrenResult.images);\n    }\n    \n    return { text: content, sections: sections, images: images };\n  }\n  \n  // Process all blocks\n  const result = topLevelBlocks\n    .map(block => renderBlock(block))\n    .reduce((acc, blockResult) => {\n      acc.text += blockResult.text;\n      acc.sections = acc.sections.concat(blockResult.sections);\n      acc.images = acc.images.concat(blockResult.images);\n      return acc;\n    }, { text: '', sections: [], images: [] });\n  \n  // Clean up text\n  let fullText = result.text\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .replace(/\\s+$/gm, '')\n    .trim();\n  \n  const stats = {\n    totalBlocks: allBlocks.length,\n    processedBlocks: topLevelBlocks.length,\n    characterCount: fullText.length,\n    wordCount: fullText.split(/\\s+/).filter(w => w.length > 0).length,\n    sections: result.sections.length,\n    images: result.images.length,\n    toggleSections: result.sections.filter(s => s.type === 'toggle').length,\n    codeSections: result.sections.filter(s => s.type === 'code').length\n  };\n  \n  console.log('✅ Content extraction complete:', stats);\n  \n  // ⭐ KEY FIX: Wrap everything in 'sourceContent'\n  return [{\n    json: {\n      sourceContent: {\n        name: $('Notion – Update to Processing').first().json.name,\n        categories: $('Notion – Update to Processing').first().json.property_category,\n        fullText: fullText,\n        sections: result.sections,\n        images: result.images,\n        extractionStats: stats,\n        contentMetadata: {\n          totalSections: result.sections.length,\n          hasImages: result.images.length > 0,\n          hasCode: result.sections.some(s => s.type === 'code'),\n          hasToggles: result.sections.some(s => s.type === 'toggle'),\n          hasLists: fullText.includes('- ') || /^\\d+\\.\\s/m.test(fullText),\n          complexity: stats.wordCount > 800 ? 'high' : stats.wordCount > 400 ? 'medium' : 'low'\n        }\n      }\n    }\n  }];\n  \n} catch (error) {\n  console.error('❌ Content extraction failed:', error.message);\n  return [{\n    json: {\n      sourceContent: {\n        fullText: `Content extraction error: ${error.message}`,\n        sections: [],\n        images: [],\n        extractionStats: { error: true },\n        contentMetadata: { error: error.message }\n      }\n    }\n  }];\n}\n"
      },
      "id": "0c66a7fc-0f2b-48d8-b0b3-428cdb938443",
      "name": "Code – Extract & Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -320
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion – Get Ready Content').all()[0].json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "type": "select",
              "selectValue": "Pending Approval"
            },
            {
              "key": "TweetGenerated|checkbox",
              "type": "checkbox",
              "checkboxValue": true
            },
            {
              "key": "LinkedInPostGenerated|checkbox",
              "type": "checkbox",
              "checkboxValue": true
            },
            {
              "key": "TweetPreview|rich_text",
              "textContent": "={{ $('Process & Format Twitter Draft').all()[0].json.markdown.substring(0, 1950) + '...' }}"
            },
            {
              "key": "LinkedinPreview|rich_text",
              "textContent": "={{ $('Process & Format LinkedIn Draft').all()[0].json.markdown.substring(0, 1950) + '...' }}"
            },
            {
              "key": "Twitter DraftURL|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=https://drive.google.com/file/d/{{ $json.Twitter_id }}/view?usp=drive_link",
                    "isLink": true,
                    "textLink": "=https://drive.google.com/file/d/{{ $json.Twitter_id }}/view?usp=drive_link",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "LinkedIn DraftURL|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=https://drive.google.com/file/d/{{ $json.LinkedIn_id }}/view?usp=drive_link",
                    "isLink": true,
                    "textLink": "=https://drive.google.com/file/d/{{ $json.LinkedIn_id }}/view?usp=drive_link",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Notes|rich_text",
              "textContent": "=📝 CONTENT GENERATED for 🐦 TWITTER & 💼 LINKEDIN\n⏳ STATUS: Pending Approval  Please review drafts and set Status to 'Approved' to begin posting.  \n📄 Here is your file: Drive Output  Generated: {{ new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) }} IST"
            },
            {
              "key": "BlogGenerated|checkbox",
              "checkboxValue": true
            },
            {
              "key": "BlogPreview|rich_text",
              "textContent": "={{ $('Process & Format Blog Draft').all()[0].json.markdown.substring(0, 1950) + '...' }}"
            },
            {
              "key": "BlogDraftURL|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=https://drive.google.com/file/d/{{ $json.Blog_id }}/view?usp=drive_link",
                    "isLink": true,
                    "textLink": "=https://drive.google.com/file/d/{{ $json.Blog_id }}/view?usp=drive_link",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "LinkedIn Best Time To Post|rich_text",
              "textContent": "={{ $('Process AI Strategy & MERGE CONTEXT').all()[0].json.research.optimalTimesIST.linkedin_ist }}"
            },
            {
              "key": "Twitter Best Time to post|rich_text",
              "textContent": "={{ $('Process AI Strategy & MERGE CONTEXT').all()[0].json.research.optimalTimesIST.twitter_primary_ist }}\n&\n{{ $('Process AI Strategy & MERGE CONTEXT').all()[0].json.research.optimalTimesIST.twitter_secondary_ist }}"
            },
            {
              "key": "ImageTaskList URL|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.Image_Tasklist_id ? `https://drive.google.com/file/d/${$json.Image_Tasklist_id}/view?usp=drive_link` : \"No Assets required\" }}",
                    "isLink": true,
                    "textLink": "={{ $json.Image_Tasklist_id ? `https://drive.google.com/file/d/${$json.Image_Tasklist_id}/view?usp=drive_link` : \"\" }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "hasImages / Assets|checkbox",
              "checkboxValue": "={{ $('Process AI Strategy & MERGE CONTEXT').all()[0].json.strategy.image_strategy.needs_images }}"
            },
            {
              "key": "BlogSEOTitle|rich_text",
              "textContent": "={{ $('Process & Format Blog Draft').all()[0].json.structured.seo.title }}"
            },
            {
              "key": "BlogSEODescription|rich_text",
              "textContent": "={{ $('Process & Format Blog Draft').all()[0].json.structured.meta_description || $('Process & Format Blog Draft').all()[0].json.structured.seo.meta_description }}"
            },
            {
              "key": "BlogSEOKeywords |rich_text",
              "textContent": "={{ $('Process & Format Blog Draft').all()[0].json.structured.seo.keywords.join(', ') }}"
            },
            {
              "key": "BlogSlug|rich_text",
              "textContent": "={{ $('Process & Format Blog Draft').all()[0].json.structured.seo.slug }}"
            },
            {
              "key": "Drive Folder Link|url",
              "urlValue": "=https://drive.google.com/drive/folders/{{ $('Create folder for title').all()[0].json.id }}?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "842c728e-7786-4ffe-b4fd-997392d8e13e",
      "name": "Notion – Create Drafts & Request Approval",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        704,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "je8hKPK6RzYSk4JA",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        240
      ],
      "id": "a279a3b9-8eef-42ef-96a0-d87572454eb7",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Merge2 node\nconst items = $input.all();\n\n// Validate we have all 3 items\nif (items.length !== 4) {\n  throw new Error(`Expected 4 Google Drive files, received ${items.length}`);\n}\n\n// Extract IDs from each item\nconst twitterId = items[0].json.id;\nconst linkedinId = items[1].json.id;\nconst blogId = items[2].json.id;\n// const imageData = items[3].json.image_tasklist_md;\nconst imageId = items[3].json.id;\n\n// Validate all IDs exist\nif (!twitterId) throw new Error('Twitter Draft ID missing');\nif (!linkedinId) throw new Error('LinkedIn Draft ID missing');\nif (!blogId) throw new Error('Blog Draft ID missing');\n\nconsole.log('✓ Twitter ID:', twitterId);\nconsole.log('✓ LinkedIn ID:', linkedinId);\nconsole.log('✓ Blog ID:', blogId);\n\n// Return structured object with all IDs\nreturn [{\n  json: {\n    Twitter_id: twitterId,\n    LinkedIn_id: linkedinId,\n    Blog_id: blogId,\n    Image_Tasklist_id: imageId\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        272
      ],
      "id": "907282ea-6bd9-4180-9f9c-9c602bcc62e7",
      "name": "ID Structuring"
    },
    {
      "parameters": {
        "jsCode": "// Personal Brand Context - The Foundation\n// Handles: Toggle headings, nested sections, code blocks, variable lengths\nconst personalContext = {\n  // CORE IDENTITY\n  name: \"Aman Suryavanshi\",\n  primary_focus: \"AI Automation Developer | Full Stack Automation Developer\",\n  experience_type: \"Fresh CS Graduate | Project-based only (No Professional Experience)\",\n  \n  // LOCATION & AVAILABILITY (Corrected field, avoid duplicate)\n  location: \"Delhi/NCR + Remote (India & Global)\",\n  availability: \"Open to full-time, contract, freelance\",\n  \n  // TARGET POSITIONS (Primary focus for content positioning)\n  targetRoles: [\n    \"No-Code/Low-Code Developer\",\n    \"Automation Developer\", \n    \"Automation Specialist\",\n    \"Technical Product Coordinator\",\n    \"AI Developer\",\n    \"Automation Architect\",\n    \"Systems & Process Automation Engineer\",\n    \"AI Product Manager (after 1-2 years experience)\"\n  ],\n  \n  // TECH STACK (What makes you HIREABLE)\n  skills: {\n    frontend: [\"Next.js 14\", \"React.js\", \"TypeScript\", \"Tailwind CSS\"],\n    automation: [\"n8n Workflow Orchestration\", \"Cloudflare Tunnel\", \"AI Agent Dev\"],\n    aiml: [\"Python\", \"LLMs (Gemini, Claude, GPT)\", \"RAG\", \"LangChain\"],\n    integration: [\"RESTful APIs\", \"Webhooks\", \"Firebase\", \"Supabase\"],\n    systems: [\"Performance Optimization\", \"Modular Architecture\", \"Technical Docs\"]\n  },\n\n  // LIVE PROJECTS (Include in content when relevant)\n  projects: {\n    workflow_repo: {\n      name: \"N8N Workflows Repository\",\n      url: \"https://github.com/AmanSuryavanshi-1/N8N/tree/main/workflows\",\n      description: \"Centralized n8n workflow logic\"\n    },\n    aviators: {\n      name: \"Aviators Training Centre\",\n      url: \"https://github.com/AmanSuryavanshi-1/AviatorsTrainingCentre\",\n      tech: [\"Next.js\", \"Firebase\", \"n8n\"],\n      achievement: \"95+ Lighthouse score, 80% reduction in manual tasks, 3L+ revenue\"\n    },\n    build_in_public: {\n      name: \"Build-in-Public Automation\",\n      status: \"Ongoing\",\n      tech: [\"n8n\", \"AI/LLMs\", \"Notion API\", \"X/LinkedIn APIs\"],\n      goal: \"Multi-platform content distribution automation\"\n    },\n    efficiency_agent: {\n      name: \"Personal Efficiency Agent\",\n      status: \"Ongoing\",\n      tech: [\"n8n AI Agents\", \"Notion API\", \"Postgres Memory\"],\n      goal: \"AI task management & daily tracking\"\n    }\n  },\n\n  // SERVICES YOU OFFER (For client attraction)\n  services: [\n    \"NextJS website development (Lighthouse & SEO optimized)\",\n    \"Front-end Web Development\",\n    \"n8n workflow automation for businesses + Next JS frontend\",\n    \"API integration & backend systems\",\n    \"No-code/low-code developement/consulting\"\n  ],\n\n  // SOCIAL PROOF LINKS\n  socials: {\n    github: \"https://github.com/AmanSuryavanshi-1\",\n    linkedin: \"https://www.linkedin.com/in/aman-suryavanshi-6b0aba347/\",\n    twitter: \"https://x.com/_AmanSurya\",\n    portfolio: \"https://amansuryavanshi-dev.vercel.app/\"\n  },\n\n  // CONTENT VOICE (How you sound)\n  voiceAttributes: [\n    \"Authentic & transparent (share real struggles + wins)\",\n    \"Detail-oriented with technical depth\",\n    \"Growth-minded (always learning)\",\n    \"Practical over theoretical\",\n    \"Builds in public\",\n    \"Helpful & community-focused\"\n  ],\n\n  // HIDDEN OBJECTIVES (guides content strategy but never stated explicitly)\n  hiddenGoals: {\n    primary: \"Get inbound job offers without applying\",\n    secondary: \"Attract freelance/contract clients organically\",\n    tertiary: \"Build reputation as automation expert\",\n    longTerm: \"Become go-to person for no-code/automation in network\"\n  }\n};\n\n// Main n8n code node logic\nconst incomingItems = $input.all();\n\n\n// INTELLIGENT CONTENT SUMMARIZATION (Cost-Optimized)\n// Limits to 2000 chars while preserving structure\n// ────────────────────────────────────────────────────────────────\nfunction intelligentSummarize(sourceContent) {\n  if (!sourceContent) return { summary: \"No content available\", structure: \"empty\", wordCount: 0,complexity: \"unknown\" };\n\n  // Extract key structural elements\n  const { fullText, sections, extractionStats } = sourceContent;\n\n  let summary = \"\";\n  // Priority 1: Section headings (highest signal-to-noise ratio)\n  const sectionTitles = (sections || [])\n    .filter(s => s.title && s.title.length > 3) // Skip very short titles\n    .map(s => `• ${s.title}`)\n    .slice(0, 12) // Max 12 headings\n    .join('\\n');\n  \n  if (sectionTitles) {\n    summary += \"**Key Sections:**\\n\" + sectionTitles + \"\\n\\n\";\n  }\n  \n  // Priority 2: First substantive section content (provides context)\n  if (sections && sections.length > 0) {\n    // Find first section with actual content (not just heading)\n    const contentSection = sections.find(s => \n      s.content && s.content.length > 50\n    );\n    \n    if (contentSection) {\n      summary += \"**Core Content Sample:**\\n\" \n        + contentSection.content.substring(0, 500)\n        .replace(/\\n+/g, ' ') // Remove line breaks for compactness\n        + \"...\\n\";\n    }\n  }\n  \n  // Priority 3: Fallback to fullText if sections are empty\n  if (!sections || sections.length === 0) {\n    summary = \"**Content Preview:**\\n\" + (fullText || \"\").substring(0, 1800) + \"...\";\n  }\n  \n  // Enforce strict 2000 char limit (API cost control)\n  summary = summary.substring(0, 2000);\n  \n  return {\n    summary,\n    structure: extractionStats?.hasToggles ? \"hierarchical\" : \"linear\",\n    wordCount: extractionStats?.wordCount || 0,\n    complexity: extractionStats?.complexity || \"unknown\",\n    sectionCount: sections?.length || 0,\n    hasCode: extractionStats?.codeSections > 0,\n    hasToggles: extractionStats?.toggleSections > 0\n  };\n}\n\n// ────────────────────────────────────────────────────────────────\n// PROCESS AND MERGE\n// ────────────────────────────────────────────────────────────────\nreturn incomingItems.map(item => {\n  const sourceContent = item.json.sourceContent || {};\n  const contentSummary = intelligentSummarize(sourceContent);\n  \n  return {\n    json: {\n      // Preserve all original data from previous nodes\n      ...item.json,\n      // Added personal context\n      personalContext,\n      // Add optimized content summary for AI prompts\n      contentSummary, // This is what AI nodes will use\n      // Keep full sourceContent for reference if needed\n      _fullSourceContent: sourceContent\n    }\n  };\n});\n\n// INTELLIGENT NOTION CONTENT SUMMARIZATION (Cost-Optimized)\n// Limits to 2000 chars while preserving structure\n// ────────────────────────────────────────────────────────────────\nfunction intelligentSummarize(sourceContent) {\n  if (!sourceContent) return { summary: \"\", structure: \"empty\" };\n  \n  // Extract key structural elements\n  const { fullText, sections, extractionStats } = sourceContent;\n  \n  // Priority 1: Section headings (most informative)\n  let summary = \"\";\n  const sectionTitles = (sections || [])\n    .filter(s => s.title && s.title.length > 0)\n    .map(s => `• ${s.title}`)\n    .slice(0, 10) // Max 10 headings\n    .join('\\n');\n  \n  if (sectionTitles) {\n    summary += \"**Key Sections:**\\n\" + sectionTitles + \"\\n\\n\";\n  }\n  \n  // Priority 2: First substantive content (context)\n  if (sections && sections.length > 0) {\n    const firstContentSection = sections.find(s => s.content && s.content.length > 100);\n    if (firstContentSection) {\n      summary += \"**Core Content:**\\n\" + firstContentSection.content.substring(0, 600) + \"...\\n\";\n    }\n  }\n  \n  // Priority 3: Full text truncation if sections unavailable\n  if (!sections || sections.length === 0) {\n    summary = \"**Content Preview:**\\n\" + (fullText || \"\").substring(0, 1500) + \"...\";\n  }\n  \n  // Enforce 2000 char limit\n  summary = summary.substring(0, 2000);\n  \n  return {\n    summary,\n    structure: extractionStats?.hasToggles ? \"hierarchical\" : \"linear\",\n    wordCount: extractionStats?.wordCount || 0,\n    complexity: extractionStats?.complexity || \"unknown\"\n  };\n}\n\n// PROCESS AND MERGE\nreturn incomingItems.map(item => {\n  const sourceContent = item.json.sourceContent || {};\n  const contentSummary = intelligentSummarize(sourceContent);\n  \n  return {\n    json: {\n      ...item.json,\n      personalContext,\n      contentSummary, // This is what AI nodes will use\n      // Keep full sourceContent for reference\n      _fullSourceContent: sourceContent\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -320
      ],
      "id": "f3b6ff01-ea0e-45dd-bd87-4554fe8d8514",
      "name": "Code – Personal Context Builder"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// CONTEXT MERGER (fetches from previous node, merges with Perplexity)\n// Place after Perplexity node, queries previous (Personal Context Builder) node\n// ═══════════════════════════════════════════════════════════════\n\nconsole.log('🔗 Starting final context merger...');\n\n// 1. Fetch JSON data from the previous Personal Context Builder node\n// const previous = $('Code – Personal Context Builder').first().json || {};\nconst previous = $('Code – Personal Context Builder').first().json;\n\n// 2. Get Perplexity output directly – comes as $json in this node\n// const perplexity = $json || {};\nconst perplexity = $json;\n\n// 3. Merge key blocks: always prefer Perplexity for \"research\", but get everything else from previous\n// const personalContext = previous.personalContext || {};\nconst personalContext = previous.personalContext;\nconst sourceContent = previous.sourceContent || {};\nconst contentSummary = previous.contentSummary || {};\nconst perplexityChoices = perplexity.choices;\n\n// Use fallback/default for every key field!\nconst name = personalContext.name || 'Unknown User';\nconst title = sourceContent.name || 'Untitled Content';\nconst categories = Array.isArray(sourceContent.categories) ? sourceContent.categories : ['General'];\nconst primaryCategory = categories[0] || 'General';\nconst summary = contentSummary.summary || '';\nconst wordCount = contentSummary.wordCount || 0;\nconst structure = contentSummary.structure || 'linear';\nconst complexity = contentSummary.complexity || 'unknown';\nconst fullText = sourceContent.fullText || '';\n\n// Perplexity research block—parse its result\nlet research = {};\ntry {\n  if (\n    Array.isArray(perplexityChoices) &&\n    perplexityChoices.length > 0 &&\n    typeof perplexityChoices[0] === 'object'\n  ) {\n    let rawContent = perplexityChoices[0].message?.content ?? '';\n    rawContent = rawContent.replace(/``````/g, '').trim();\n    if (rawContent) {\n      research = JSON.parse(rawContent);\n      console.log('✅ Parsed Perplexity JSON.');\n    } else {\n      throw new Error('Empty content in Perplexity choices.');\n    }\n  } else {\n    throw new Error('Perplexity choices incomplete.');\n  }\n} catch (err) {\n  console.warn(`⚠️ Perplexity parsing failed: ${err.message}. Using fallback research.`);\n  research = {\n    authenticHashtags: {\n      twitter: ['#BuildInPublic', `#${primaryCategory}`, '#Automation', '#NoCode', '#n8n'],\n      linkedin: ['#ProcessAutomation', `#${primaryCategory}`, '#SystemsThinking', '#AI'],\n    },\n    optimalTimesIST: {\n      twitter_primary_ist: \"9:00-11:00 am IST\",\n      twitter_secondary_ist: \"8:30-9:30 pm IST (US/EU overlap)\",\n      linkedin_ist: \"10:00-12:00 am IST (Tue-Thu)\"\n    },\n    authenticHooks: {\n      twitter_example: \"Solving a weird API quirk in n8n today—here's the step that finally worked. Anyone else get stuck on webhook reliability?\",\n      linkedin_example: \"Client automated 50% manual onboarding steps using n8n, saving 10 hours/week. Why did we choose modular flows?\"\n    },\n    developerPainPoints: [\n      \"Lack of reliable content scheduling tools for Indian time zones\",\n      \"Complicated OAuth flows between LinkedIn, X and custom APIs\"\n    ]\n  };\n}\n\n// Optional IDs/session info\nconst originalId = previous.originalId ?? null;\nconst sessionId = previous.sessionId ?? null;\nconst notionPageId = sourceContent.id ?? null;\nconst extractionStats = sourceContent.extractionStats ?? {};\nconst hasImages = Array.isArray(sourceContent.images) && sourceContent.images.length > 0;\nconst processingTime = new Date().toISOString();\n\n// Master context object (robust, merged)\nconst masterContext = {\n  personalContext: {\n    ...personalContext,\n    name\n  },\n  sourceContent: {\n    title,\n    categories,\n    primaryCategory,\n    summary,\n    wordCount,\n    structure,\n    complexity,\n    fullText\n  },\n  contentSummary: {\n    summary,\n    wordCount,\n    structure,\n    complexity\n  },\n  research,\n  originalId,\n  sessionId,\n  workflowMetadata: {\n    notionPageId,\n    extractionStats,\n    hasImages,\n    processingTime\n  }\n};\n\nconsole.log('✅ Master context object created successfully!');\nreturn [{ json: masterContext }];\n"
      },
      "id": "4dec36ae-1715-43a2-ba82-88d0582d4333",
      "name": "Code – CONTEXT MERGER",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -320
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=<role>\nYou are a world-class Build-in-Public content strategist for Aman Suryavanshi, a Next.js developer and n8n automation specialist. Your primary job is to extract the REAL value from Aman's source content and craft a detailed, multi-platform content strategy. This includes both the textual content plan and a sophisticated visual asset plan.\n</role>\n\n<critical_instruction>\n⚠️ YOU MUST USE THE PROVIDED sourceContent.fullText AS THE SINGLE SOURCE OF TRUTH. Do not invent scenarios, projects, or examples. Aman shares his real implementation experience—your job is to extract and repurpose what he ACTUALLY did, not to write fiction. Every part of your strategy must be traceable back to the source content.\n</critical_instruction>\n\n<context>\n<my_personal_professional_profile>\n{{$json.personalContext}}\n</my_personal_professional_profile>\n\n<the_source_of_truth>\nThe Notion Page Content is the most important input. Extract specific examples, code, and results from here.\n{{$json.sourceContent.fullText}}\n</the_source_of_truth>\n\n<complementary_seo_research_data>\nUse this to expand upon the core content and optimize for search.\n{{$json.research}}\n</complementary_seo_research_data>\n</context>\n\n<task>\nCreate a comprehensive content strategy that extracts the CORE VALUE from the source material and positions it for maximum engagement across Twitter, LinkedIn, and a Blog. The strategy must be based on what was ACTUALLY done in the source content and must include a detailed plan for visual assets.\n</task>\n\n<master_framework>\n<part_1_text_strategy>\n<mandatory_extraction_framework>\n1. SCAN the source content for specific, concrete details:\n   - Projects mentioned (e.g., \"Barkat Enterprise\", \"AV NewsStream\")\n   - Implementations (e.g., \"converted JPEG to WebP\", \"moved assets to /public folder\")\n   - Code examples provided\n   - Measurable results or metrics achieved\n   - Challenges encountered and how they were solved\n\n2. IDENTIFY the content's primary nature:\n   - Tutorial/How-to (teaching a skill)\n   - Case Study (showing project results)\n   - Lessons Learned (sharing mistakes and fixes)\n   - Technical Deep-Dive (explaining complex concepts)\n\n3. EXTRACT the main thesis:\n   - What is the single most important lesson for the reader?\n   - What specific problem does this solve for other developers?\n\n4. FIND the authenticity angle:\n   - What specific, real challenge did Aman face?\n   - What was the practical, real-world solution?\n</mandatory_extraction_framework>\n\n<platform_adaptation_rules>\n**TWITTER (Micro-learning):**\nExtract 2-3 specific, bite-sized tactics. Each becomes a focused thread with a strong hook and a single, clear takeaway.\n\n**LINKEDIN (Professional Credibility):**\nFrame the content as a professional case study. Structure it as \"Problem I faced → My specific solution → The measurable results → The key business/career lesson\".\n\n**BLOG (Comprehensive Authority):**\nUse the full source content as the foundation for a deep-dive technical guide. Expand on the \"why\" behind each decision and add complementary best practices.\n</platform_adaptation_rules>\n\n<voice_requirements>\n**MANDATORY:**\n- Use the first-person (\"I\") voice\n- Reference specific projects from the source\n- Include real code and metrics\n\n**FORBIDDEN:**\n- Do not use \"we\" unless the source specifies a team\n- Avoid all fictional examples, generic advice, and corporate jargon\n</voice_requirements>\n\n<content_length_adaptation>\n**IF** the source content is rich with multiple distinct implementations (e.g., 3-5 major points), plan for a multi-post series. For Twitter, this means multiple threads. For LinkedIn, multiple case-study posts. The Blog will always be a single, comprehensive article.\n\n**IF** the source is short with one core idea, plan for one high-quality post per platform.\n</content_length_adaptation>\n</part_1_text_strategy>\n\n<part_2_image_strategy>\nCRITICAL: Determine IMAGE/ASSET NEEDS based on the source content. For each visual that would significantly enhance the text, create a detailed entry in the `specific_prompts` array.\n\n<for_each_visual_you_must_specify>\n1. **asset_type:** Is this a \"real_asset\" (a screenshot only Aman can take from his project) or a \"generative_asset\" (an illustrative diagram/image that an AI can create)?\n\n2. **description:** A clear, direct instruction for Aman on WHAT to capture or create. Be extremely specific for real_asset types.\n\n3. **fallback_prompt:** This is critical. If asset_type is \"real_asset\", provide a high-quality AI image generation prompt as a backup in case the real asset is unavailable. If asset_type is \"generative_asset\", this field contains the primary prompt for the AI image generator.\n\n4. **position:** Where in the content this asset should be placed for maximum impact.\n\n5. **alt_text:** An SEO-friendly description of the image.\n\n6. **purpose:** A concise explanation of why this specific asset is necessary.\n\n7. **marker:** ⚠️ CRITICAL FORMAT: Use `<<IMAGE_1>>`, `<<IMAGE_2>>`, or `<<IMAGE_3>>` (DOUBLE angle brackets). These exact markers will be inserted into content drafts.\n</for_each_visual_you_must_specify>\n\n<example_entries>\n{\n  \"asset_type\": \"real_asset\",\n  \"description\": \"Take a side-by-side screenshot of the Lighthouse performance scores for the Barkat Enterprise project, showing the before score (around 40) and the after score (90+).\",\n  \"fallback_prompt\": \"Create a clean, modern dashboard graphic illustrating a performance score increase. On the left, show a gauge meter pointing to 40 in red with the label 'Before Optimization'. On the right, show a gauge meter pointing to 92 in green with the label 'After Optimization'. Use a tech-focused, dark-mode theme.\",\n  \"position\": \"In the Results/Impact section of the blog post.\",\n  \"alt_text\": \"Lighthouse performance score comparison showing an increase from 40 to over 90.\",\n  \"purpose\": \"To provide compelling, visual proof of the success of the implemented optimizations.\",\n  \"marker\": \"<<IMAGE_1>>\"\n}\n</example_entries>\n\n<image_generation_rules>\n- Generate ONLY 2-3 strategic images maximum (NEVER MORE THAN 3)\n- Each image MUST be reusable across Twitter, LinkedIn, AND Blog\n- Prioritize ONE hero/introductory image and ONE explanatory diagram\n- Only add a third image if the content is highly technical and requires additional visual support\n\n<image_marker_assignment_rule>\nFor each image you recommend, you MUST assign a unique marker:\n- First image: `<<IMAGE_1>>`\n- Second image: `<<IMAGE_2>>`\n- Third image (if needed): `<<IMAGE_3>>`\n\n⚠️ These markers will be inserted into the actual content drafts by subsequent nodes.\n</image_marker_assignment_rule>\n\n<for_this_section>\n- Only request images that genuinely add value across multiple platforms\n- Each image should enhance understanding for Twitter, LinkedIn, AND Blog audiences\n- Be specific in the `description` for real_asset requests\n- Write detailed, high-quality `fallback_prompts` suitable for models like Midjourney or DALL-E 3\n- If the source is not visual or technical, it is acceptable for `needs_images` to be `false`\n</for_this_section>\n</image_generation_rules>\n</part_2_image_strategy>\n</master_framework>\n\n<output_format>\nReturn ONLY valid JSON. The structure must contain all the fields from the previous prompts, with the `image_strategy` object fully populated according to the detailed rules in part_2_image_strategy.\n\n{\n  \"strategy_summary\": \"...\",\n  \"source_analysis\": \"...\",\n  \"core_insight\": \"...\",\n  \"story_arc\": \"...\",\n  \"platform_strategies\": {\n    \"twitter\": {...},\n    \"linkedin\": {...},\n    \"blog\": {...}\n  },\n  \"authenticity_elements\": \"...\",\n  \"value_proposition\": \"...\",\n  \"image_strategy\": {\n    \"needs_images\": boolean,\n    \"rationale\": \"Why visuals are (or are not) needed for THIS specific content.\",\n    \"image_types\": [\"screenshot\", \"diagram\", etc.],\n    \"specific_prompts\": [\n      {\n        \"asset_type\": \"real_asset\" | \"generative_asset\",\n        \"description\": \"Specific instruction for Aman.\",\n        \"fallback_prompt\": \"Detailed AI image generation prompt.\",\n        \"position\": \"Where it goes in the content.\",\n        \"alt_text\": \"SEO-friendly alt text.\",\n        \"purpose\": \"Why this image is necessary.\",\n        \"marker\": \"<<IMAGE_1>>\" | \"<<IMAGE_2>>\" | \"<<IMAGE_3>>\"\n      }\n    ]\n  }\n}\n</output_format>\n\n<validation_checklist>\nBefore returning, you must verify:\n- The text strategy (Part 1) is 100% based on the source content.\n- The image strategy (Part 2) is detailed, actionable, and includes the `asset_type` and `fallback_prompt` for every requested image.\n- Image markers use DOUBLE angle brackets: `<<IMAGE_X>>`\n- The voice is consistently first-person (\"I\").\n- The final output is a single, valid JSON object with no extra text or markdown.\n</validation_checklist>\n"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "557b9189-a6f0-4703-9e99-9245fc0822e3",
      "name": "Gemini - AI CONTENT STRATEGIST",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        176
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "wLs02bTssiS8r2cq",
          "name": "Google Gemini(PaLM) Api Key 7"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=<role>\nYou write as Aman Suryavanshi, a Next.js developer and n8n automation specialist. Your voice is that of a technical peer sharing real learnings from your actual project work. You are writing a Twitter thread based on the provided source content and strategy.\n</role>\n\n<critical_instruction>\n⚠️ YOU MUST USE THE PROVIDED SOURCE CONTENT AND PERSONAL CONTEXT. Your task is to transform the sourceContent.fullText into an engaging, authentic Twitter thread, guided by the strategy. Do NOT invent projects, examples, or results not found in the source material. Every tweet must be traceable to a specific point in Aman's actual work. Use the first-person (\"I\") voice.\n</critical_instruction>\n\n<context>\n<my_personal_profile>\n{{$json.personalContext}}\n</my_personal_profile>\n\n<the_strategy_to_follow>\n{{$json.strategy}}\n</the_strategy_to_follow>\n\n<the_source_of_truth>\nThe Notion Page Content is the most important input. Extract specific examples, code, and results from here.\n{{$json.sourceContent.fullText}}\n</the_source_of_truth>\n</context>\n\n<task>\nGenerate a multi-tweet Twitter thread that follows the `twitter` section of the provided strategy. Extract specific, concrete tactics and examples from the sourceContent to build the thread.\n</task>\n\n<rules>\n1. **Extract, Don't Invent:** Pull direct examples, project names (like \"Barkat Enterprise\"), and code snippets from the sourceContent.\n\n2. **Follow the Plan:** Adhere strictly to the `content_breakdown` and `must_include` fields within the `strategy.platform_strategies.twitter` object.\n\n3. **Voice:** Use \"I\" and \"my\". The personalContext provides the persona. Sound like a real developer sharing what you learned.\n\n4. **Structure:** Build a thread with:\n   - Strong hook\n   - Value-packed body tweets (one idea per tweet)\n   - Concluding tweet with a question and hashtags\n\n5. **No AI Tells:** Avoid generic phrases like \"Let's dive in\", \"In today's digital world\", or excessive emojis.\n\n6. **⚠️ CHARACTER LIMITS (CRITICAL - STRICTLY ENFORCED):**\n   - **Tweets 1-3:** Maximum 270 characters (including spaces & punctuation)\n   - **Final tweet:** Maximum 245 characters (leaves room for hashtags)\n   - **If a tweet exceeds the limit:**\n     - Trim to exactly 267 characters and append \"...\"\n     - Log a warning in the output\n     - NEVER silently exceed limits\n\n7. **Image Marker Insertion:**\n   - Check if `strategy.image_strategy.needs_images` is `true`\n   - If yes, review `strategy.image_strategy.specific_prompts` array\n   - For images where `position` mentions \"Twitter\" or \"thread\" or \"first tweet\":\n     - Insert the corresponding marker (`<<IMAGE_1>>`, `<<IMAGE_2>>`) from the `marker` field\n     - ⚠️ CRITICAL FORMAT: Use DOUBLE angle brackets: `<<IMAGE_X>>`\n     - Place the marker on its OWN LINE immediately after the tweet content where the image should appear\n     - Add blank lines before and after the marker for readability\n   - Example:\n     ```\n     Tweet 1/5\n\n     I've been building with MCP and it's game-changing for AI development...\n\n     <<IMAGE_1>>\n\n     Here's what I learned 👇\n     ```\n\n8. **Graceful Marker Handling:**\n   - Image markers are OPTIONAL placeholders for Part 2 automation\n   - If images are not uploaded to Drive, Part 2 will automatically remove these markers\n   - Do NOT worry about whether images will be available—always insert markers when strategy recommends them\n   - The system is designed to handle missing images gracefully—posts will go out text-only if needed\n   - Never reference the markers in the actual tweet text—they are invisible placeholders\n\n9. **Character Count Verification:**\n   - For EACH tweet, count the characters INCLUDING spaces and punctuation\n   - Store the exact count in the `char_count` field\n   - Verify: `content.length === char_count`\n   - If mismatch detected, flag in validation\n</rules>\n\n<output_format>\nReturn ONLY valid JSON that matches the structure requested in the previous prompts. The JSON should contain `formatted_markdown` for the full thread and a `structured_data` object with an array of individual tweets.\n\n{\n  \"formatted_markdown\": \"# Twitter Draft\\\\n\\\\nThread 1\\\\n\\\\n---\\\\n\\\\nTweet 1/4\\\\n\\\\nContent here\\\\n\\\\n<<IMAGE_1>>\\\\n\\\\n---\\\\n\\\\nTweet 2/4\\\\n\\\\nContent here...\",\n  \"structured_data\": {\n    \"threads\": [\n      {\n        \"thread_id\": 1,\n        \"theme\": \"Core insight from strategy\",\n        \"tweets\": [\n          {\n            \"position\": 1,\n            \"content\": \"Raw tweet text—NO markdown, NO extra formatting\",\n            \"char_count\": 250,\n            \"image_marker\": \"<<IMAGE_1>>\",\n            \"type\": \"hook\"\n          },\n          {\n            \"position\": 2,\n            \"content\": \"Raw tweet text\",\n            \"char_count\": 240,\n            \"image_marker\": null,\n            \"type\": \"context\"\n          },\n          {\n            \"position\": 3,\n            \"content\": \"Raw tweet text\",\n            \"char_count\": 265,\n            \"image_marker\": \"<<IMAGE_2>>\",\n            \"type\": \"solution\"\n          },\n          {\n            \"position\": 4,\n            \"content\": \"Raw tweet text with hashtags\",\n            \"char_count\": 240,\n            \"image_marker\": null,\n            \"type\": \"lesson_cta\"\n          }\n        ]\n      }\n    ],\n    \"metadata\": {\n      \"total_threads\": 1,\n      \"total_tweets\": 4,\n      \"validation\": {\n        \"all_char_limits_met\": true,\n        \"all_counts_accurate\": true,\n        \"image_markers_correct_format\": true,\n        \"warnings\": []\n      }\n    }\n  }\n}\n</output_format>\n\n<validation_before_return>\nBefore returning JSON, verify:\n☐ All tweets are under character limits (270 for 1-3, 245 for final)\n☐ char_count matches content.length exactly for each tweet\n☐ Image markers use DOUBLE angle brackets: `<<IMAGE_X>>`\n☐ No AI clichés present (search for: \"excited\", \"dive deep\", \"game-changer\")\n☐ First-person \"I\" voice used throughout\n☐ Real project mentioned (not invented)\n☐ Specific metrics or examples included\n☐ Final tweet has 3-5 hashtags from research\n☐ JSON structure matches required schema exactly\n☐ No extra fields added beyond specification\n\nIf ANY validation fails:\n- Set `validation: false` in metadata\n- Include warning details in `metadata.validation.warnings`\n- Return the JSON anyway (don't fail silently)\n</validation_before_return>"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "9520b47f-cefa-486d-ae20-0a1e0454f434",
      "name": "Gemini - Twitter Content Generation",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        -112
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "7ltaQsSSNUd3rYmq",
          "name": "Google Gemini(PaLM) Api Key 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiOutput = $input.first().json;\nlet rawText = null;\n\nif (geminiOutput.content?.parts[0]?.text) {\n    rawText = geminiOutput.content.parts[0]?.text;\n    console.log('✓ Text extracted');\n} else {\n    throw new Error('Cannot extract text from Gemini');\n}\n\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/g, '')\n    .trim();\n\nlet result;\ntry {\n    result = JSON.parse(cleaned);\n    console.log('✓ JSON parsed');\n} catch (error) {\n    throw new Error('Invalid JSON: ' + error.message);\n}\n\nif (!result.formatted_markdown || !result.structured_data) {\n    throw new Error('Missing required fields');\n}\n\n// console.log('✓ Twitter:', result.structured_data.threads.length, 'threads');\n\nreturn {\n    json: {\n        markdown: result.formatted_markdown,\n        structured: result.structured_data,\n        platform: 'twitter'\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -112
      ],
      "id": "0b1c049e-81fd-4915-81d5-1bbc2c2879d2",
      "name": "Process & Format Twitter Draft"
    },
    {
      "parameters": {
        "jsCode": "const geminiOutput = $input.first().json;\nlet rawText = null;\n\nif (geminiOutput.content?.parts[0]?.text) {\n    rawText = geminiOutput.content.parts[0].text;\n    console.log('✓ Text extracted');\n} else {\n    throw new Error('Cannot extract text from Gemini');\n}\n\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/g, '')\n    .trim();\n\nlet result;\ntry {\n    result = JSON.parse(cleaned);\n    console.log('✓ JSON parsed');\n} catch (error) {\n    throw new Error('Invalid JSON: ' + error.message);\n}\n\nif (!result.formatted_markdown || !result.structured_data) {\n    throw new Error('Missing required fields');\n}\n\n// console.log('✓ LinkedIn:', result.structured_data.posts.length, 'posts');\n\nreturn {\n    json: {\n        markdown: result.formatted_markdown,\n        structured: result.structured_data,\n        platform: 'linkedin'\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        80
      ],
      "id": "e72c9828-271e-45b2-80d6-b4a889a6e383",
      "name": "Process & Format LinkedIn Draft"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Notion – Get Ready Content').item.json.name }}-SocialDrafts-{{ $json.sessionId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1F25H1IcOyYzJa41LwbD-r31_Ogs6ASZd",
          "mode": "list",
          "cachedResultName": "N8N Build in public Drafts - LinkedIn & X",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F25H1IcOyYzJa41LwbD-r31_Ogs6ASZd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -544
      ],
      "id": "441aadb7-1afd-474f-baf5-e88b9583dc18",
      "name": "Create folder for title",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1hcyFpBqSOMDRDna",
          "name": "Google Drive Adude"
        }
      }
    },
    {
      "parameters": {
        "content": "Creating a separate folder in Drive to store all the assets & generated drafts",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -624
      ],
      "typeVersion": 1,
      "id": "5255755c-bb07-4bbc-b672-c999d1bd3be5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Extracting Content From Notion Database",
        "height": 272,
        "width": 1536,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -640
      ],
      "typeVersion": 1,
      "id": "6c243c87-7010-402b-bcc7-56fdf07673dd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Notion Content processing \n- content Extraction & processing\n- Perplexity researches about the hashtags & timings \n",
        "height": 240,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -368
      ],
      "typeVersion": 1,
      "id": "c90c230f-253b-4a6a-b6cb-44e1525a5b07",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Generating Content for LinkedIn, Twitter & Portfolio Blog website using Gemini",
        "height": 736,
        "width": 1536,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        -128
      ],
      "typeVersion": 1,
      "id": "e9e432a1-0256-4b2b-abaf-0bfdd812157a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Updating Content to Notion \n",
        "height": 224,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        208
      ],
      "typeVersion": 1,
      "id": "f8c7f7ff-88f8-417d-ab28-9bb9ebc5416d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=<role>\nYou are a social media research strategist specializing in Build-in-Public content for technical founders. Your expertise spans Twitter/X, LinkedIn, and technical blogging across diverse technology topics (Next.js, React, n8n automation, AI/ML, web performance, no-code/low-code, etc.).\n</role>\n\n<context>\n<profile>\n- primary_focus: {{ $json.personalContext.primary_focus }}\n- target_roles: {{$json.personalContext.targetRoles}}\n</profile>\n\n<topic>\n<name>{{$json.sourceContent.name}}</name>\n<categories>{{$json.sourceContent.categories}}</categories>\n<summary>{{$json.contentSummary.summary}}</summary>\n<audience>Technical founders, hiring managers, tech leads, developers</audience>\n<date>{{ $now }}</date>\n</topic>\n</context>\n\n<task>\nProvide comprehensive research and strategic recommendations for maximizing reach and engagement across Twitter, LinkedIn, and technical blogs for this SPECIFIC content topic.\n</task>\n\n<instructions>\n1. **Analyze Current Trends**\n   - Identify trending hashtags SPECIFICALLY related to this content topic\n   - Research what's currently working in this niche (last 30 days)\n   - Find conversation themes and pain points in this specific domain\n\n2. **Platform-Specific Strategy** (FOR EACH PLATFORM: Twitter, LinkedIn, Blog)\n   - Top 5 trending hashtags (mix of popular + niche)\n   - Optimal posting times with timezone (IST)\n   - Content angle that's performing well right now\n   - Hook patterns that are generating engagement\n   - Common mistakes to avoid\n\n3. **Competitive Intelligence**\n   - Identify 2-3 accounts/creators successfully building in public in this niche\n   - Note their successful content patterns\n   - Highlight differentiation opportunities\n\n4. **SEO Keywords for Blog**\n   - 5 primary keywords with search volume\n   - 5 long-tail keywords for technical depth\n   - Related topics to cover for topical authority\n</instructions>\n\n<outputformat>\nReturn ONLY valid JSON with this EXACT structure (no markdown fences):\n\n{\n  \"twitter\": {\n    \"hashtags\": [\"#BuildInPublic\", \"#ReactDev\", \"#WebPerf\"],\n    \"hashtags_explanation\": \"Why these specific hashtags work now\",\n    \"optimal_posting_times_ist\": [\"09:00 AM\", \"01:00 PM\", \"06:00 PM\"],\n    \"timing_rationale\": \"Why these times work for technical audience\",\n    \"current_trends\": \"What's trending in this niche\",\n    \"successful_hook_patterns\": [\"Hook type 1\", \"Hook type 2\"],\n    \"content_angles\": [\"Angle 1\", \"Angle 2\"],\n    \"avoid\": [\"Common mistake 1\", \"Common mistake 2\"]\n  },\n  \"linkedin\": {\n    \"hashtags\": [\"#TechLeadership\", \"#WebDevelopment\"],\n    \"hashtags_explanation\": \"Strategic reasoning\",\n    \"optimal_posting_times_ist\": [\"08:00 AM\", \"12:00 PM\", \"05:00 PM\"],\n    \"timing_rationale\": \"Professional audience patterns\",\n    \"current_trends\": \"Trending topics\",\n    \"successful_formats\": [\"Format 1\", \"Format 2\"],\n    \"tone_recommendations\": \"Professional yet authentic guidance\",\n    \"avoid\": [\"Professional pitfalls\"]\n  },\n  \"blog\": {\n    \"seo_keywords_primary\": [\n      {\"keyword\": \"next.js performance\", \"volume\": \"high\", \"difficulty\": \"medium\"}\n    ],\n    \"seo_keywords_longtail\": [\n      {\"keyword\": \"optimizing next.js bundle size 2024\", \"volume\": \"low\", \"difficulty\": \"low\"}\n    ],\n    \"related_topics\": [\"Topic to establish topical authority\"],\n    \"internal_linking_opportunities\": [\"Suggested related post topics\"]\n  },\n  \"competitor_insights\": {\n    \"creator\": \"Name\",\n    \"what_works\": \"Pattern they use\"\n  },\n  \"general_strategy\": {\n    \"unique_angle\": \"How to differentiate in this content\",\n    \"psychological_hooks\": \"Hook type that works for this topic\",\n    \"timing_considerations\": \"When this topic resonates most\"\n  }\n}\n</outputformat>\n\n<constraints>\n- Focus on CURRENT (last 30 days) trends, not generic advice\n- Hashtags must be SPECIFIC to the content topic, not generic \"#coding\"\n- Research REAL data on what's working, don't invent trends\n- Provide actionable, specific recommendations\n- No corporate jargon or generic marketing speak\n</constraints>\n\nThink step-by-step before responding.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        },
        "requestOptions": {}
      },
      "id": "54e3cf57-6f20-4091-92ec-303c2d7b1c69",
      "name": "Perplexity – Research Hashtags & Timing",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -208,
        -320
      ],
      "credentials": {
        "perplexityApi": {
          "id": "Ss20gojfOfH1gtj7",
          "name": "Perplexity Anki"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=<role>\nYou write as Aman Suryavanshi, a Next.js and Automation Developer. You are writing a professional LinkedIn post to showcase your expertise by sharing a case study or deep insight from your real project work. Your voice is thoughtful, authentic, and results-oriented.\n</role>\n\n<critical_instruction>\n⚠️ YOU MUST BASE THIS POST ON THE PROVIDED sourceContent.fullText. Your goal is to repurpose this real-world experience into a compelling professional narrative, following the provided strategy. Do not invent scenarios. Use the first-person (\"I\") voice to build credibility.\n</critical_instruction>\n\n<context>\n<my_professional_profile>\n{{$json.personalContext}}\n</my_professional_profile>\n\n<the_content_strategy_to_execute>\n{{$json.strategy}}\n</the_content_strategy_to_execute>\n\n<the_source_of_truth>\nMy Actual Experience—code the core case study, challenges, and results from this text.\n{{$json.sourceContent.fullText}}\n</the_source_of_truth>\n</context>\n\n<task>\nGenerate a professional LinkedIn post that follows the `linkedin` section of the provided strategy. Frame the sourceContent as a case study, sharing the problem you faced, the specific technical solution you implemented, and the measurable results you achieved.\n</task>\n\n<rules>\n1. **Case Study Framework:** Structure the post as \"Problem → My Solution → The Results\".\n\n2. **Extract, Don't Invent:** Use the actual project names (\"Barkat Enterprise\"), technical details, and metrics (Lighthouse score 40 to 90+) found in the sourceContent.\n\n3. **Follow the Plan:** Adhere strictly to the structure and `must_include` directives in `strategy.platform_strategies.linkedin`.\n\n4. **Voice:** Write as \"I\". You are sharing a personal story of professional problem-solving.\n\n5. **LinkedIn Formatting:** Use short paragraphs, whitespace for readability, and a concluding question to encourage engagement.\n\n6. **⚠️ CHARACTER LIMIT (CRITICAL - STRICTLY ENFORCED):**\n   - **Maximum:** 2800 characters (safe limit under LinkedIn API's 3000)\n   - **If post exceeds 2800 characters:**\n     - Trim to exactly 2750 characters and append \"\\\\n\\\\n[See full details in comments]\"\n     - Log a warning in the output\n     - NEVER silently exceed limits\n   - **Character count verification:**\n     - Count includes ALL text + line breaks + hashtags\n     - Store exact count in `char_count` field\n     - Verify: `content.length === char_count`\n\n7. **⚠️ LINE BREAK ENCODING (CRITICAL FOR FORMATTING):**\n   - **Paragraph breaks:** Use `\\\\n\\\\n` (double backslash-n)\n   - **Before numbered lists:** Use `\\\\n\\\\n\\\\n` (triple backslash-n) ← THIS IS CRITICAL\n   - **Hashtag separator:** Use `\\\\n\\\\n` (double backslash-n)\n   - **Example:**\n     ```\n     \"Here's what happened:\\\\n\\\\n\\\\n1. First insight...\\\\n2. Second insight...\\\\n\\\\nMore text here.\\\\n\\\\n#hashtag1 #hashtag2\"\n     ```\n\n8. **Image Marker Insertion:**\n   - Check if `strategy.image_strategy.needs_images` is `true`\n   - If yes, review `strategy.image_strategy.specific_prompts` array\n   - ⚠️ LinkedIn API allows EXACTLY ONE image per post\n   - Place the marker (`<<IMAGE_1>>`) at the VERY END of the post (after hashtags if possible)\n   - ⚠️ CRITICAL FORMAT: Use DOUBLE angle brackets: `<<IMAGE_1>>`\n   - Place on its own line with blank lines before/after\n   - Example:\n     ```\n     ...ending paragraph text.\n\n     #hashtag1 #hashtag2 #hashtag3\n\n     <<IMAGE_1>>\n     ```\n\n9. **Multiple Posts Logic:**\n   - If strategy recommends 2 LinkedIn posts, separate them with `---` (three hyphens)\n   - Each post must be self-contained and under 2800 characters\n   - Label as \"Part 1\" and \"Part 2\" if sequential\n\n10. **Character Count Verification:**\n    - For EACH post, count the characters INCLUDING all `\\\\n` sequences and hashtags\n    - Store the exact count in the `char_count` field\n    - Verify: `content.length === char_count`\n</rules>\n\n<output_format>\nReturn ONLY valid JSON that matches this structure:\n\n{\n  \"formatted_markdown\": \"# LinkedIn Draft\\\\n\\\\n---\\\\n\\\\nPost content here with proper \\\\\\\\n\\\\\\\\n\\\\\\\\n encoding...\\\\n\\\\n<<IMAGE_1>>\",\n  \"structured_data\": {\n    \"posts\": [\n      {\n        \"post_id\": 1,\n        \"content\": \"Full post text with proper \\\\\\\\n\\\\\\\\n and \\\\\\\\n\\\\\\\\n\\\\\\\\n encoding\",\n        \"char_count\": 2100,\n        \"image_marker\": \"<<IMAGE_1>>\",\n        \"hashtags\": [\"#hashtag1\", \"#hashtag2\", \"#hashtag3\"],\n        \"type\": \"case_study\"\n      }\n    ],\n    \"metadata\": {\n      \"total_posts\": 1,\n      \"total_chars\": 2100,\n      \"validation\": {\n        \"all_char_limits_met\": true,\n        \"line_break_encoding_correct\": true,\n        \"image_at_end_only\": true,\n        \"char_counts_accurate\": true,\n        \"warnings\": []\n      }\n    }\n  }\n}\n</output_format>\n\n<validation_before_return>\nBefore returning JSON, verify:\n☐ All posts are under 2800 characters\n☐ char_count matches content.length exactly for each post\n☐ Line breaks encoded correctly: `\\\\n\\\\n` for paragraphs, `\\\\n\\\\n\\\\n` before lists\n☐ Image marker uses DOUBLE angle brackets: `<<IMAGE_1>>`\n☐ Image marker at the end only (if present)\n☐ Hashtags at very end (3-5 count)\n☐ No AI clichés present\n☐ First-person \"I\" voice used\n☐ Real project mentioned (not invented)\n☐ Specific metrics or results included\n☐ JSON structure matches required schema exactly\n\nIf ANY validation fails:\n- Set `validation: false` in metadata\n- Include warning details in `metadata.validation.warnings`\n- Return the JSON anyway (don't fail silently)\n</validation_before_return>"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "f5eb6082-bb64-446d-bdeb-28fb38b49381",
      "name": "Gemini - LinkedIn Content Generation",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        80
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "8RkzNZusS3GG9BNO",
          "name": "Google Gemini(PaLM) Api key 4"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=<role>\nAct as Aman Suryavanshi, a Next.js and Automation Developer. You are writing a comprehensive, in-depth technical blog post. Your goal is to create a definitive, SEO-optimized guide based on your real-world experience.\n</role>\n\n<critical_instruction>\nThe `sourceContent.fullText` is the foundation of this blog post. You MUST use the specific implementations, code examples, project names, and results from it as the core of your article. Your job is to expand upon this real foundation by adding technical depth, explaining the \"why,\" and incorporating complementary best practices from the `research` data, all while following the `strategy`. Do not replace Aman's experience with generic information. Use the \"I\" voice.\n</critical_instruction>\n\n<context>\n### MY PERSONAL & PROFESSIONAL PROFILE\n{{$json.personalContext}}\n\n### THE BLUEPRINT FOR THE ARTICLE\n{{$json.strategy}}\n\n### THE CORE CONTENT (My Real-World Implementations)\nThis is the most critical input. The entire article must be built around the examples, code, and projects discussed here.\n{{$json.sourceContent.fullText}}\n\n### COMPLEMENTARY SEO & RESEARCH DATA\nUse this to expand upon the core content and optimize for search.\n{{$json.research}}\n</context>\n\n<task>\nGenerate a full-length, SEO-optimized technical blog post that follows the `blog` section of the provided `strategy`. Use the `sourceContent` as the primary material and enrich it with explanations and complementary information as outlined in the strategy's `complementary_additions`.\n</task>\n\n<rules>\n1.  **Source is King:** The structure, examples, and narrative must be built from the `sourceContent`. The project \"Barkat Enterprise\" and its metrics are the story.\n2.  **Expand and Explain:** Go beyond just stating what you did. Explain *why* you chose WebP, *why* `next/image` is superior, and *why* the public folder was the right choice.\n3.  **Follow the Plan:** Strictly follow the `structure`, `must_include`, and `complementary_additions` outlined in `strategy.platform_strategies.blog`.\n4.  **Voice:** Maintain the first-person \"I\" narrative. This is a story about your personal project experience.\n5.  **SEO Integration:** Naturally weave in keywords from the `research` data into your explanations, headings, and the FAQ section.\n</rules>\n\n<visual_content_integration>\n**Image Marker Placement:**\n- Review strategy.imagestrategy.specificprompts for images marked for \"blog\" placement\n- Insert markers (<<IMAGE_1>>, <<IMAGE_2>>, <<IMAGE_3>>) in the markdown content at optimal positions\n- Place markers AFTER the relevant section heading and introductory paragraph\n⚠️ CRITICAL FORMAT: Use DOUBLE angle brackets for all image markers: <<IMAGE_1>>, <<IMAGE_2>>, <<IMAGE_3>>\n\n**Optimal Positioning Strategy:**\n- **First image**: After the introduction, before the first major section (sets visual context)\n- **Second image**: In the middle of the post, after explaining the core concept (reinforces understanding)\n- **Third image** (if exists): Near the end, before the conclusion or in a \"real-world example\" section (shows practical application)\n\n**Markdown Formatting Example:**\n```markdown\n## Section Heading\n\nIntroductory paragraph explaining the concept...\n\n<<IMAGE_1>>\n\nContinuing with more detailed explanation...\n</visual_content_integration>\n\n<output_format>\nReturn ONLY valid JSON that matches the structure requested in the previous prompts. The JSON should include `formatted_markdown` and a detailed `structured_data` object with SEO fields, content sections, and image prompts.\n</output_format>"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        272
      ],
      "id": "b79a4b49-7caa-44cc-8efb-bfb970aae60d",
      "name": "Blog Content Generation",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "wLs02bTssiS8r2cq",
          "name": "Google Gemini(PaLM) Api Key 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.markdown }}",
        "name": "=LinkedIndraft-{{ $('Process AI Strategy & MERGE CONTEXT').item.json.sourceContent.title }}-{{ $('Code – Select Content & Profile').all()[0].json.sessionId }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/u/2/folders/{{ $('Create folder for title').all()[0].json.id }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        80
      ],
      "id": "2faa53c2-90ac-4bdd-87ef-59943cdd8e52",
      "name": "Create LinkedIn Draft",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1hcyFpBqSOMDRDna",
          "name": "Google Drive Adude"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.markdown }}",
        "name": "=Twitterdraft-{{ $('Process AI Strategy & MERGE CONTEXT').item.json.sourceContent.title }}-{{ $('Code – Select Content & Profile').all()[0].json.sessionId }}.md",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/u/2/folders/{{ $('Create folder for title').all()[0].json.id }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -112
      ],
      "id": "1e10ac10-cfd8-41e8-9c2c-c63f9f8b872d",
      "name": "Create Twitter Draft",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1hcyFpBqSOMDRDna",
          "name": "Google Drive Adude"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiOutput = $input.first().json;\nlet rawText = null;\n\nif (geminiOutput.content?.parts[0]?.text) {\n    rawText = geminiOutput.content.parts[0].text;\n    console.log('✓ Text extracted');\n} else {\n    throw new Error('Cannot extract text from Gemini');\n}\n\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/g, '')\n    .replace(/[\\u0000-\\u0019]+/g, ' ')\n    .trim();\n\nlet result;\ntry {\n    result = JSON.parse(cleaned);\n    console.log('✓ JSON parsed');\n} catch (error) {\n    throw new Error('Invalid JSON: ' + error.message);\n}\n\nif (!result.formatted_markdown || !result.structured_data) {\n    throw new Error('Missing required fields');\n}\n\nconst seoData = {\n    title: result.structured_data.title,\n    slug: result.structured_data.slug,\n    metaDescription: result.structured_data.meta_description,\n    keywords: result.structured_data.seo_keywords,\n    tags: result.structured_data.tags || []\n};\n\nconst imageData = {\n    needed: result.structured_data.images_needed || false,\n    prompts: result.structured_data.image_prompts || []\n};\n\nconsole.log('✓ Blog:', result.structured_data.word_count, 'words');\nconsole.log('  - Images needed:', imageData.needed);\n\nreturn {\n    json: {\n        markdown: result.formatted_markdown,\n        structured: result.structured_data,\n        seo: seoData,\n        images: imageData,\n        platform: 'blog'\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        272
      ],
      "id": "3aa2e182-383e-4a82-a324-17a68a7942b3",
      "name": "Process & Format Blog Draft"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.markdown }}",
        "name": "=Blogdraft-{{ $('Process AI Strategy & MERGE CONTEXT').item.json.sourceContent.title }}-{{ $('Code – Select Content & Profile').all()[0].json.sessionId }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/u/2/folders/{{ $('Create folder for title').all()[0].json.id }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        272
      ],
      "id": "b5deadcc-fe07-4078-a3f6-9d98d8b60086",
      "name": "Create Blog Draft",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1hcyFpBqSOMDRDna",
          "name": "Google Drive Adude"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════════\n// PROCESS AI STRATEGY & MERGE CONTEXT (V4 - FINAL, ROBUST JSON PARSING)\n// ════════════════════════════════════════════════════════════════════════════\n\nconsole.log('📋 V4: Starting robust JSON parsing...');\n// STEP 1: GET INPUTS FROM TWO DIFFERENT SOURCES\n// ────────────────────────────────────────────────────────────────────────────\nconst geminiRawOutput = $input.first().json;\nconst originalContext = $('Code – CONTEXT MERGER').first().json;\n\nif (!geminiRawOutput) {\n  throw new Error('❌ No input from parent node (Gemini - AI CONTENT STRATEGIST).');\n}\nif (!originalContext) {\n  throw new Error(`❌ Could not find data from referenced node: \"$('Code – CONTEXT MERGER')\". Please verify the name.`);\n}\nconsole.log('✅ Successfully loaded data from parent and context nodes.');\n\n// ────────────────────────────────────────────────────────────────────────────\n// STEP 2: ROBUSTLY EXTRACT AND CLEAN JSON FROM GEMINI\n// ────────────────────────────────────────────────────────────────────────────\nlet strategy;\ntry {\n  let rawText = geminiRawOutput.content?.parts[0]?.text || '';\n  if (!rawText) {\n    throw new Error('Text content from Gemini is empty.');\n  }\n\n  // --- NEW ROBUST JSON EXTRACTION ---\n  // Find the first '{' and the last '}' to extract the JSON object,\n  // which is much more reliable than trying to strip markdown fences.\n  const firstBrace = rawText.indexOf('{');\n  const lastBrace = rawText.lastIndexOf('}');\n  \n  if (firstBrace === -1 || lastBrace === -1) {\n    throw new Error('Could not find a valid JSON object (missing \"{\" or \"}\").');\n  }\n\n  const jsonString = rawText.substring(firstBrace, lastBrace + 1);\n  // --- END OF NEW LOGIC ---\n\n  strategy = JSON.parse(jsonString);\n  console.log('✅ Strategy parsed successfully using robust extraction.');\n\n} catch (error) {\n  console.error('❌ Strategy parsing failed:', error.message);\n  throw new Error(`Failed to parse Gemini strategy: ${error.message}`);\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// STEP 3: VALIDATE AND CREATE MASTER DATA OBJECT\n// ────────────────────────────────────────────────────────────────────────────\nconst requiredFields = ['strategy_summary', 'source_analysis', 'platform_strategies'];\nconst missingFields = requiredFields.filter(field => !strategy[field]);\n\nif (missingFields.length > 0) {\n  throw new Error(`Strategy object is missing required fields: ${missingFields.join(', ')}`);\n}\nconsole.log('✅ Strategy structure validated.');\n\nconst masterData = {\n  personalContext: originalContext.personalContext,\n  sourceContent: originalContext.sourceContent,\n  research: originalContext.research,\n  workflowMetadata: originalContext.workflowMetadata,\n  strategy: strategy\n};\n\nconsole.log('✅ Master data object created successfully.');\nconsole.log('📦 Final output contains keys:', Object.keys(masterData));\n\nreturn [{ json: masterData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        176
      ],
      "id": "573f037d-67ac-4b8a-8ce9-dfb26c8a8a95",
      "name": "Process AI Strategy & MERGE CONTEXT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0a6bdb8-0521-4d53-a351-c2ec3f05310e",
              "leftValue": "={{ $json.strategy.image_strategy.needs_images }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        448
      ],
      "id": "aee48f1d-b847-4731-b7e8-205489d2df0c",
      "name": "Are Images Needed?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Is Image Required \n## & Its Processing\n",
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        432
      ],
      "typeVersion": 1,
      "id": "5b6a2280-4ca1-4841-99b0-0e3c9defa761",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════════\n// CREATE IMAGE TASKLIST MARKDOWN\n// ════════════════════════════════════════════════════════════════════════════\n\nconsole.log('📝 Generating Image Tasklist...');\n\nconst strategy = $input.first().json.strategy.image_strategy;\nconst prompts = strategy.specific_prompts || [];\n\nif (prompts.length === 0) {\n  console.log('No specific prompts found. Returning empty tasklist.');\n  return [{ json: { image_tasklist_md: \"# 🖼️ Image Tasklist\\n\\nNo specific images were recommended for this content.\", task_count: 0 } }];\n}\n\nlet markdown = `# 🖼️ Image Tasklist for: ${$input.first().json.sourceContent.title}\\n\\n`;\nmarkdown += `**Reason:** ${strategy.rationale}\\n\\n---\\n\\n`;\n\nprompts.forEach((task, index) => {\n  markdown += `## Asset ${index + 1}: ${task.purpose}\\n\\n`;\n  markdown += `**➡️ Action Required:**\\n`;\n  \n  if (task.asset_type === 'real_asset') {\n    markdown += `*   **Type:** 📸 Real Asset (Screenshot/Recording)\\n`;\n    markdown += `*   **Instructions:** ${task.description}\\n\\n`;\n    markdown += `**💡 Fallback (if real asset is unavailable):**\\n`;\n    markdown += `*   **Type:** 🤖 Generative AI Prompt\\n`;\n    markdown += `*   **Prompt:** \\`${task.fallback_prompt}\\`\\n\\n`;\n  } else { // generative_asset\n    markdown += `*   **Type:** 🤖 Generative AI Asset\\n`;\n    markdown += `*   **Prompt:** \\`${task.fallback_prompt || task.description}\\`\\n\\n`;\n  }\n\n  markdown += `**Placement:** ${task.position}\\n`;\n  markdown += `**Alt Text:** \"${task.alt_text}\"\\n\\n---\\n\\n`;\n});\n\nconsole.log(`✅ Generated tasklist with ${prompts.length} items.`);\n\nreturn [{ json: { image_tasklist_md: markdown, task_count: prompts.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        448
      ],
      "id": "bd6dbd8c-73aa-4a98-9499-5c77fe17de7d",
      "name": "Process & Format Image Tasklist"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.image_tasklist_md }}",
        "name": "=Image Tasklist-{{ $('Process AI Strategy & MERGE CONTEXT').all()[0].json.sourceContent.title }}-{{ $('Code – Select Content & Profile').all()[0].json.sessionId }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/u/2/folders/{{ $('Create folder for title').all()[0].json.id }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        448
      ],
      "id": "f05dce45-ffd9-4342-9995-73a32b5631cd",
      "name": "Create Image Tasklist",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1hcyFpBqSOMDRDna",
          "name": "Google Drive Adude"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Notion – Get Ready Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion – Get Ready Content": {
      "main": [
        [
          {
            "node": "Filter – Has Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter – Has Content": {
      "main": [
        [
          {
            "node": "Code – Select Content & Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Select Content & Profile": {
      "main": [
        [
          {
            "node": "Create folder for title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion – Update to Processing": {
      "main": [
        [
          {
            "node": "Notion – Extract All Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion – Extract All Blocks": {
      "main": [
        [
          {
            "node": "Code – Extract & Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Extract & Process Content": {
      "main": [
        [
          {
            "node": "Code – Personal Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "ID Structuring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Structuring": {
      "main": [
        [
          {
            "node": "Notion – Create Drafts & Request Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Personal Context Builder": {
      "main": [
        [
          {
            "node": "Perplexity – Research Hashtags & Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – CONTEXT MERGER": {
      "main": [
        [
          {
            "node": "Gemini - AI CONTENT STRATEGIST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - AI CONTENT STRATEGIST": {
      "main": [
        [
          {
            "node": "Process AI Strategy & MERGE CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Twitter Content Generation": {
      "main": [
        [
          {
            "node": "Process & Format Twitter Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Format Twitter Draft": {
      "main": [
        [
          {
            "node": "Create Twitter Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Format LinkedIn Draft": {
      "main": [
        [
          {
            "node": "Create LinkedIn Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder for title": {
      "main": [
        [
          {
            "node": "Notion – Update to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity – Research Hashtags & Timing": {
      "main": [
        [
          {
            "node": "Code – CONTEXT MERGER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - LinkedIn Content Generation": {
      "main": [
        [
          {
            "node": "Process & Format LinkedIn Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Content Generation": {
      "main": [
        [
          {
            "node": "Process & Format Blog Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LinkedIn Draft": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Twitter Draft": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Format Blog Draft": {
      "main": [
        [
          {
            "node": "Create Blog Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blog Draft": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Process AI Strategy & MERGE CONTEXT": {
      "main": [
        [
          {
            "node": "Gemini - Twitter Content Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini - LinkedIn Content Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blog Content Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Are Images Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are Images Needed?": {
      "main": [
        [
          {
            "node": "Process & Format Image Tasklist",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process & Format Image Tasklist": {
      "main": [
        [
          {
            "node": "Create Image Tasklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image Tasklist": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2aff0c99a9b9ea9c976d68c5887d32445a6bdc6f59f99592eb5b4c4dbaf3d92e"
  }
}